version: "3.9"

services:
  web:
    build: .
    container_name: flask_web
    volumes:
      - ./logs:/app/logs
    expose:
      - "8000"

  nginx:
    image: nginx:alpine
    container_name: nginx_proxy
    ports:
      - "8081:80"
    volumes:
      - ./docker/nginx_app.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - web
